
@import 'autocomplete';

.recipe-form {
  margin-top: 20px;
  .box {
    border: solid 1px #ddd;
  }
  .add-ing {
    float: right;
    margin-right: 15px;
  }
  label {
    font-weight: normal;
  }
  img {
    width: 100%;
  }
}

.underline {
  border-bottom: solid 1px #CCCCCC;
}
